.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  padding: 20px;
  background-color: cadetblue;
}

.description {
  margin-top: 4px;
  font-size: 12px;
}

.sign_up_btn {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
